:root{
    --color1: rgb(5, 5, 5);
    --color2: rgb(20, 158, 200);
    --color3: rgb(28, 32, 1);
    --color4: rgb(11, 46, 53);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    padding: 20px 35px;
    background-color: var(--color3);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 -10px 20px black;
}
header a{
    color: var(--color2);
    text-decoration: none;  
}
/* I wanted to make the h1 element be more vertically centered in the header*/
header h1 a{
    position:relative;
    top: 10px;
    font-size: 2vw;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    align-content: center;
}
header nav ul li{
    padding: 20px 30px;
    font-size: 1.5vw;
    color: var(--color2);
    text-decoration: none;
}
header nav ul li :hover{
    color:white;
    font-weight: bold;
}
/* I wanted to see how cool I could make this*/
.banner{
    background-image: url(/images/family-photo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    justify-items: flex-end;
    
}
.banner h2{
    padding: 20px 30px;
    margin: 0 75px 30px 0;
    background-color: var(--color2);
    color:var(--color1);
    font-size: 40px;
    border-radius: 50px;


}
.mission{
    color: var(--color4);
    font-size: 40px;
    margin: 0 auto;
    height: auto;
    width: 700px;
    margin-left: 600px;
    align-self: center;
    justify-self: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.container{
    color:var(--color2);
    display:flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: space-evenly;
}
.titles{
    border-right: 2px solid var(--color2);
    padding: 150px;    
    width: 400px;
    text-align: right;
}
.block{
    width: 700px;
    height: 350px;
    margin:0 auto;
    padding: 40px;
    font-size: 23px;
    font-weight: lighter;

}
.boxes{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-basis: 100%;
    height:auto;
    width:80%;
    padding: 0 50px;
    border:2px solid yellow;
    
}
button h3{
    font-size: 20px;
    color: var(--color1); 
    background-color: var(--color2); 
    padding: 30px 50px ;
    border-radius:15px;
    
}
button{
    text-align:center;
    color:var(--color3);
    text-decoration: none;
    border: 3px solid green;
    border-radius:20px; 
    
}
button :hover{
    padding: 70px 100px;
}

.button1 :hover{
    background-image: url(/images/trainer-1.jpg);
    background-position: center 20%;
}
.button2 :hover{
    background-color:var(--color3);
    color:var(--color2);
    padding:70px 100px;
}
.border{
    margin-left:22px;
}
footer{
    padding: 20px 35px;
    background-color: var(--color2);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position:sticky;
    position:-webkit-sticky;
    bottom:0;
}
footer a, footer h2{
    text-decoration: none;
    color:var(--color3)
}
footer a :hover{
    color:white;
    font-weight: lighter;
}
/*Media Queries*/
@media screen and (max-width: 980px) {
    *{
        width: 100%;
    }
    header {
        display: flex;
        flex-wrap:wrap;
        width: 100%;
        height:auto;

    }
    header h1 {
    text-align: center;
    font-size: 30px;
    }
    header div{
        font-size: 15px;
        justify-content: center;
        align-content: center;
    }
    .banner{
        max-height: 300px;
        width:100%;
        background-image:url(/images/family-photo\ 2.jpg);

    }
    .banner h2{
        opacity:0;
    }
    .mission{
        font-size:20px;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 50px;
        
    }
    .titles{
        width:100px;
        padding:0;
        top:0;
        padding-right:10px;
    }
    .block{
        width:80%;
        font-size: 20px;
        font-weight: lighter;
    }
    .boxes{
        width:100%;
        flex-direction: column;

        
    }
    footer{
    text-align: center;
    width: 100%;
    position:static;
    justify-content: center;
    align-content: space-evenly;
    flex-direction: column;
    }
    
@media screen and (max-width:768px) {



    
}